.home{
    color: #137ACA;
    border-bottom: 2px solid #137ACA ;
    font-family: quicksan-medium; 
}

.section-1,.section-2,.section-3,.section-4{
    margin-bottom: 50px;
}

/*==========================section1===============*/


